h2 {
  text-align: center;
  color: rgb(61, 61, 61);
}
table {
  width: 100%;
}

.trendTable {
  text-align: center;
  padding-bottom: 30px;
}

.drop {
padding-bottom: 20px;
}
.mat-header-cell {
  text-align:center
}