.create-account {
  display: flex;
  flex-direction: column;
}

.create-account > * {
  width: 100%;
}

.fields {
  display: flex;
  text-align: center;
}

h2 {
  text-align: center; 
}


.left > *,
.right > * {
  width: 80%;
}
