<h2>Currency Exchange</h2>
<div id="box">
  <div class="from-currency">
    <!-- Adding dropdown from which currency conversion-->
    <div class="dropdown1">
      <mat-form-field appearance="outline">
        <select
          (change)="onSelect($event.target.value)"
          matNativeControl
          required
          [(ngModel)]="from"
        >
          <!-- Adding loop for validating from which currency the conversion to be done -->
          <option *ngFor="let currency of currencies" [value]="currency.value">
            {{ currency.text }}
          </option>
        </select>
      </mat-form-field>
      <br />
    </div>
    <p id="amount1">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Amount" [(ngModel)]="amount" />
      </mat-form-field>
    </p>
  </div>

  <div class="to-currency">
    <div class="dropdown2">
      <mat-form-field appearance="outline">
        <select matNativeControl required id="to" onchange="convertCurrency();">
          <!-- Adding loop for validating to which currency the conversion to be done -->
          <option
            *ngFor="let currency of availableCurrencies"
            [value]="currency.value"
            >{{ currency.text }}</option
          >
        </select>
      </mat-form-field>
    </div>
    <p id="amount2">
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Amount"
          [value]="httpService.result"
          disabled
        />
      </mat-form-field>
    </p>
  </div>
</div>
<div class="buttonContainer">
  <!--Submitting the changes to the server-->
  <button
    mat-flat-button
    type="button"
    color="primary"
    [disabled]="amount < 0 || !amount"
    (click)="calculateResult(from, to, amount)"
  >
    Convert
  </button>
</div>
