h2{
    color: blue;
    padding-left: 150px;
}

.from-currency, .to-currency {
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.dropdown1, .dropdown2 {
    position: absolute;
   
    left:250px;
    padding-left: 60px;
}