
  <h2>Currency Exchange</h2>
  <div id="box">
  <div class="from-currency">
    <div class="dropdown1">
      <mat-form-field appearance="outline">
        <select matNativeControl required [(ngModel)]="from">
          <option value="usd">Dollar ($)</option>
          <option value="pound">Pound (£)</option>
          <option value="euro">Euro (€)</option>
          <option value="yen">Yen (¥)</option>
          <option value="peso">Peso ($)</option>
        </select>
      </mat-form-field>
      <br />
    </div>
    <div class="amount1">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Amount" value="1" [(ngModel)]="amount" />
        </mat-form-field>
      </div>
  </div>
  <div class="to-currency">
    <div class="dropdown2">
      <mat-form-field appearance="outline">
        <select matNativeControl required [(ngModel)]="to">
          <option value="usd">Dollar ($)</option>
          <option value="pound">Pound (£)</option>
          <option value="euro">Euro (€)</option>
          <option value="yen">Yen (¥)</option>
          <option value="peso">Peso ($)</option>
        </select>
      </mat-form-field>
    </div>
    <div class="amount2">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Amount" [value]="httpService.result" disabled />
        </mat-form-field>
      </div>
  </div>
  
</div>
<div class="buttonContainer">   
<button mat-flat-button type="button" color="primary" (click)="calculateResult(from, to, amount)">Convert</button>
</div> 