h1, h2 {
  text-align: left;
  color: #3f51b5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

.login {
  display: flex;
  flex-direction: column;
}

.sign-up {
  font-size: 0.7em;
}

.sign-up-container {
  margin-top: 25px;
  text-align: center;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.mat-flat-button {
  height: 50px;
  margin-top: 25px;
}
