.login {
  display: flex;
  flex-direction: column;
}

.sign-up {
  font-size: 0.7em;
}

.sign-up-container {
  margin-top: 15px;
  text-align: center;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}