h1, h2 {
  text-align: center;
  color: #3f51b5;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

.edit-account {
  display: flex;
  flex-direction: column;
}

.edit-account > * {
  width: 100%;
}

.fields {
  display: flex;
  text-align: center;
}

.left > *,
.right > * {
  width: 80%;
}

h2 {
  text-align: center;
}

.mat-flat-button {
  max-width: 50%;
  margin: 20px auto 0 auto;
  height: 50px;
}
