.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.menu-icon {
   cursor: pointer;
   padding-top: 10px;
   margin-right: 3px;
}

.login {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0 15px;
}

li {
  margin-bottom: 5px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: navy;
}

.menu-link {
  color: white;
}

.content {
  width: 90%;
  margin: 0 auto;
  /* height: 100; */
}

.sidenav-container {
  background-color: #fafafa;
}
