<mat-toolbar color="primary">
  <span class="menu-icon" mat-raised-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </span>
  <a routerLink=""><span>Currency Exchange</span></a>
  <span class="example-fill-remaining-space"></span>
  
  <a routerLink="create-account"><span>Sign Up</span></a>
</mat-toolbar>

<mat-drawer-container >
    <mat-drawer #sidenav mode="side" opened>
      <ul>
        <li>Currency Exchange</li>
        <li>Exchange Trends</li>
      </ul>
    </mat-drawer>
    
    <mat-drawer-content>
      <router-outlet> </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
