<mat-toolbar color="primary">
  <span class="menu-icon" mat-raised-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </span>
  <a routerLink="" class="menu-link"><span>Currency Exchange</span></a>
  <span class="example-fill-remaining-space"></span>

  <a (click)="openDialog()" class="menu-link login"><span>Login</span></a>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #sidenav mode="side" opened>
    <ul class="sidenav">
      <li><a routerLink="exchange"> Currency Exchange </a></li>
      <li><a routerLink="historical-data">Exchange Trends</a></li>
      <li><a routerLink="account"> Account </a></li>
    </ul>
  </mat-drawer>

  <mat-drawer-content>
    <div class="content"><router-outlet> </router-outlet></div>
  </mat-drawer-content>
</mat-drawer-container>
