.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.menu-icon {
  cursor: pointer;
  padding-top: 10px;
  margin-right: 3px;
}

.login {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0 15px;
}

li {
  margin-bottom: 5px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: white;
}

.menu-link {
  color: white;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.sidenav-container {
  background-color: #3f51b5;
}

.money-logo{
  margin-left: 10px;
}

.mat-drawer-container {
  height: 90%;
  width: 100%;
  margin: 0;
}