/* Application-wide Styles */

/* In the page the header level h1 is color blue #3f51b5
    The header level h1 is centered on the page.
    The text uses font-family of Arial, Helvetica, or sans-serif.
    The font-size is 150% */
    
h1 {
    color: #3f51b5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
  }

 /* In the page the header levels (h2 and h3) are color black
    The text uses font-family of Arial, Helvetica, or sans-serif.
    The margins are set to 0. 
    The font-weight is lighter
    The header levels (h2 and h3) are underlined*/
h2, h3 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-decoration: underline;
    margin: 0;
  }

/* The following lines removes line spacing 
   between header levels (h3, h5) and paragraphs (p) */
  #prime h3, h5, p  {
    display: inline;
  } 

  /*In the page body, text, and buttons are color black
    The text uses font-family of Cambria or Georgia.
    The margins are set to 2em. An em is equal to the current 
    font-size, for instance, if the font-size of the document 
    is 12pt, 1em is equal to 12pt.*/

  body, input[type="text"], button {
    color:black;
    font-family: Cambria, Georgia;
    margin: 2em;
  }


  /* The indicated fonts are used everywhere else (indicated by asterisk wildcard *)that has not already been defined.*/
  * {
    font-family: Arial, Helvetica, sans-serif;
    }
  
 

