<h1>Welcome to the Blue Team Currency Exchange
<img src="../../assets/images/blue-money.png" alt="Blue Money" height="50" width="50">
</h1>
<br>
<br>

<h3>Purpose</h3>
<p>The purpose of the Blue Team Currency Exchange is to welcome and make our customers feel comfortable in exchanging
   one currency for another, at the current days' rates.
   Rates obtained will be based on USA Eastern Standard Time (EST).
   We accept cash, credit or ATM bank cards (verified with valid identification).
</p>
<br>
<br>
<h3>Mission Statement</h3>
<p>The mission of Blue Team Currency Exchange is to provide the best rates available (for the current day).</p>
<br><br><br>

<h5><b><i>Contact Us:</i></b></h5> <br>
<p>3550 Lenox Ave. NE, <br>
   Atlanta, GA. 30304 <br>
   www.blue-team-exchange.com <br>
   blue-team-exch@serendipity.com
</p>